/* Reset some default styles for browsers */
body,
h1,
h2,
h3,
p,
ol {
  margin: 0;
  padding: 0;
}

/* Set a background color for the entire essay */
body {
  background-color: #9bf19e; /* A beautiful background color */
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
}

/* Style the article container */
article {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style headings */
h1 {
  font-size: 24px; /* Slightly smaller font size */
  color: #9d0606; /* Red color for h1 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow to h1 */
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px; /* Slightly smaller font size */
  color: #266af2; /* Blue color for h2 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow to h2 */
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px; /* Slightly smaller font size */
  color: #50a2a7; /* Teal color for h3 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow to h3 */
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Style paragraphs */
p {
  font-size: 16px; /* Slightly smaller font size */
  line-height: 1.6;
  color: #444; /* Dark Gray color for paragraphs */
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Style hyperlinks */
a {
  color: #007bff; /* Blue color for hyperlinks */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Color for strong elements */
strong {
  color: #333; /* Slightly darker text */
}


